<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- We assume you will use the Azure SDK Storage Emulator by default. If you have an Azure Subscription you can alternatively 
         create a Storage Account and run against the Storage service by using the second connection string below and insert 
         your storage account name and key. -->
    <!--add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=[AccountName];AccountKey=[AccountKey]" />-->
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Storage" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.3.1.0" newVersion="9.3.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>